*{
 margin: 10;
}

body{
  background-color: aliceblue;
}

.app{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: brown;

}

.app__left{
  flex: 0.95;
}

.app__stats{
  display: flex;
  height: 150px;
  width: 100%;
  justify-content: space-between;
  flex-grow: column;
}

.app__dropdown{
  color: lightseagreen;
}

@media (max-width: 990px){
  .app{
    flex-direction: column;
    flex-grow: inherit;
  }
}